// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//setup footer
html, body{
    height: 100%;
    margin: 0;
}
#app {
    min-height: 100%;
    margin-bottom: -50px;
}
.footer, .footer-pusher  {
    height: 50px;
}
